<configuration>
	<system.serviceModel>
		<services>
			<service name="Odey.ReconciliationServices.EzeReconciliationService.EzeReconciliationService">
				<endpoint binding="netTcpBinding" bindingConfiguration ="default" contract="Odey.ReconciliationServices.Contracts.IEzeReconciliation" />
			</service>
		</services>
	</system.serviceModel>
	
	<connectionStrings>
		<add name="Keeley" connectionString="Data Source=SQL02;Initial Catalog=Keeley;Integrated Security=True;MultipleActiveResultSets=True"/>
	</connectionStrings>
	<appSettings>
		<add key="NavTolerance" value="0.01"/>
		<add key="KeeleyStoredProcedureName" value="Portfolio_GetForEzeNavRec"/>
		<add key="EZEFileName" value="\\ezeapp01\Eze\Shared\Report_Extracts\Portfolio_NAV.csv"/>
	</appSettings>
</configuration>


