<configuration>
	<system.serviceModel>
		<services>
			<service name="Odey.ReconciliationServices.EzeReconciliationService.EzeReconciliationService">
				<endpoint binding="netTcpBinding" bindingConfiguration="default" contract="Odey.ReconciliationServices.Contracts.IEzeReconciliation"/>
			</service>
		</services>
	</system.serviceModel>
	<connectionStrings>
		<add name="Keeley" connectionString="Data Source=SQL02;Initial Catalog=Keeley;Integrated Security=True;MultipleActiveResultSets=True"/>
	</connectionStrings>
	<appSettings>
		<add key="NavTolerance" value="0.05"/>
		<add key="KeeleyStoredProcedureName" value="Portfolio_GetForEzeNavRec"/>
		<add key="EZEFileName" value="\\ezeapp01\Eze\Shared\Report_Extracts\Portfolio_NAV.csv"/>
	</appSettings>
	<!--
		For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.5" />
			</system.Web>
	-->
	<system.web>
		<compilation targetFramework="4.5"/>
		<pages controlRenderingCompatibilityVersion="4.0"/></system.web></configuration>
