<configuration>
  <system.serviceModel>
    <services>
      <service name="Odey.ReconciliationServices.AttributionReconciliationService.AttributionReconciliationService">
        <endpoint binding="netTcpBinding" bindingConfiguration="default" contract="Odey.ReconciliationServices.Contracts.IAttributionReconciliation"/>
      </service>
    </services>
  </system.serviceModel>


</configuration>