bin
obj

# /
/*.suo
/*.ncb
/*.sdf
/*.opensdf
/ipch
/*.user
/_ReSharper.*
/packages
/.vs

# /Odey.ReconcilationService.Contracts/
/Odey.ReconcilationService.Contracts/[Bb]in
/Odey.ReconcilationService.Contracts/obj
/Odey.ReconcilationService.Contracts/[Dd]ebug
/Odey.ReconcilationService.Contracts/[Rr]elease
/Odey.ReconcilationService.Contracts/*.user
/Odey.ReconcilationService.Contracts/*.aps
/Odey.ReconcilationService.Contracts/*.eto

# /Odey.ReconcilationServices.Clients/
/Odey.ReconcilationServices.Clients/[Bb]in
/Odey.ReconcilationServices.Clients/obj
/Odey.ReconcilationServices.Clients/[Dd]ebug
/Odey.ReconcilationServices.Clients/[Rr]elease
/Odey.ReconcilationServices.Clients/*.user
/Odey.ReconcilationServices.Clients/*.aps
/Odey.ReconcilationServices.Clients/*.eto

# /Odey.ReconcilationServices.FMKeeleyReconcilationService/
/Odey.ReconcilationServices.FMKeeleyReconcilationService/[Bb]in
/Odey.ReconcilationServices.FMKeeleyReconcilationService/obj
/Odey.ReconcilationServices.FMKeeleyReconcilationService/[Dd]ebug
/Odey.ReconcilationServices.FMKeeleyReconcilationService/[Rr]elease
/Odey.ReconcilationServices.FMKeeleyReconcilationService/*.user
/Odey.ReconcilationServices.FMKeeleyReconcilationService/*.aps
/Odey.ReconcilationServices.FMKeeleyReconcilationService/*.eto

# /Odey.ReconcilationServices.FMKeeleyReconcilationService/Properties/PublishProfiles/
/Odey.ReconcilationServices.FMKeeleyReconcilationService/Properties/PublishProfiles/*.user

# /Odey.ReconcilationServices.FMPortfolioCollectionService/
/Odey.ReconcilationServices.FMPortfolioCollectionService/[Bb]in
/Odey.ReconcilationServices.FMPortfolioCollectionService/obj
/Odey.ReconcilationServices.FMPortfolioCollectionService/[Dd]ebug
/Odey.ReconcilationServices.FMPortfolioCollectionService/[Rr]elease
/Odey.ReconcilationServices.FMPortfolioCollectionService/*.user
/Odey.ReconcilationServices.FMPortfolioCollectionService/*.aps
/Odey.ReconcilationServices.FMPortfolioCollectionService/*.eto
/Odey.ReconcilationServices.FMPortfolioCollectionService/ClientBin
/Odey.ReconcilationServices.FMPortfolioCollectionService/GeneratedArtifacts
/Odey.ReconcilationServices.FMPortfolioCollectionService/_Pvt_Extensions

# /Odey.ReconcilationServices.FMPortfolioCollectionService/Properties/PublishProfiles/
/Odey.ReconcilationServices.FMPortfolioCollectionService/Properties/PublishProfiles/*.user

# /Odey.ReconciliationServices/
/Odey.ReconciliationServices/[Bb]in
/Odey.ReconciliationServices/obj
/Odey.ReconciliationServices/[Dd]ebug
/Odey.ReconciliationServices/[Rr]elease
/Odey.ReconciliationServices/*.user
/Odey.ReconciliationServices/*.aps
/Odey.ReconciliationServices/*.eto

# /Odey.ReconciliationServices.ClientPortfolioReconciliationService/
/Odey.ReconciliationServices.ClientPortfolioReconciliationService/[Bb]in
/Odey.ReconciliationServices.ClientPortfolioReconciliationService/obj
/Odey.ReconciliationServices.ClientPortfolioReconciliationService/[Dd]ebug
/Odey.ReconciliationServices.ClientPortfolioReconciliationService/[Rr]elease
/Odey.ReconciliationServices.ClientPortfolioReconciliationService/*.user
/Odey.ReconciliationServices.ClientPortfolioReconciliationService/*.aps
/Odey.ReconciliationServices.ClientPortfolioReconciliationService/*.eto
/Odey.ReconciliationServices.ClientPortfolioReconciliationService/ClientBin
/Odey.ReconciliationServices.ClientPortfolioReconciliationService/GeneratedArtifacts
/Odey.ReconciliationServices.ClientPortfolioReconciliationService/_Pvt_Extensions

# /Odey.ReconciliationServices.EZEReconciliationService/
/Odey.ReconciliationServices.EZEReconciliationService/[Bb]in
/Odey.ReconciliationServices.EZEReconciliationService/obj
/Odey.ReconciliationServices.EZEReconciliationService/[Dd]ebug
/Odey.ReconciliationServices.EZEReconciliationService/[Rr]elease
/Odey.ReconciliationServices.EZEReconciliationService/*.user
/Odey.ReconciliationServices.EZEReconciliationService/*.aps
/Odey.ReconciliationServices.EZEReconciliationService/*.eto

# /Odey.ReconciliationServices.ValuationReconciliationService/
/Odey.ReconciliationServices.ValuationReconciliationService/[Bb]in
/Odey.ReconciliationServices.ValuationReconciliationService/obj
/Odey.ReconciliationServices.ValuationReconciliationService/[Dd]ebug
/Odey.ReconciliationServices.ValuationReconciliationService/[Rr]elease
/Odey.ReconciliationServices.ValuationReconciliationService/*.user
/Odey.ReconciliationServices.ValuationReconciliationService/*.aps
/Odey.ReconciliationServices.ValuationReconciliationService/*.eto

# /Odey.ReconciliationServices.ValuationReconciliationService/Properties/PublishProfiles/
/Odey.ReconciliationServices.ValuationReconciliationService/Properties/PublishProfiles/*.user

# /Testing/
/Testing/[Bb]in
/Testing/obj
/Testing/[Dd]ebug
/Testing/[Rr]elease
/Testing/*.user
/Testing/*.aps
/Testing/*.eto
/Testing/App.config
Ode.ReconciliationServices.AttributionReconciliationService/obj/Debug/Odey.ReconciliationServices.AttributionReconciliationService.csproj.FileListAbsolute.txt
