<configuration>
	<system.serviceModel>
		<services>
			<service name="Odey.ReconciliationServices.ValuationReconciliationService.ValuationReconciliationService">
				<endpoint binding="netTcpBinding" bindingConfiguration ="default" contract="Odey.ReconciliationServices.Contracts.IValuationReconciliation" />
			</service>
		</services>
	</system.serviceModel>
</configuration>

