<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="FM" connectionString="Data Source=FM;User Id=KEELEY;Password=KEELEYODEY;"/>
		<add name="Keeley" connectionString="Data Source=SQL02;Initial Catalog=Keeley;Integrated Security=True;MultipleActiveResultSets=True"/>
	</connectionStrings>
	<system.serviceModel>
      <client>
		<endpoint address="net.tcp://app02/RegionService/RegionService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IRegion" />
		<endpoint address="net.tcp://app02/CountryService/CountryService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.ICountry" />
		<endpoint address="net.tcp://app02/LegalEntityService/LegalEntityService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.ILegalEntity" />
		<endpoint address="net.tcp://app02/IssuerService/IssuerService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IIssuer" />
		<endpoint address="net.tcp://app02/InstrumentClassService/InstrumentClassService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IInstrumentClass" />
		<endpoint address="net.tcp://app02/InstrumentService/InstrumentService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IInstrument" />
		<endpoint address="net.tcp://app02/CurrencyService/CurrencyService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.ICurrency" />
		<endpoint address="net.tcp://app02/MarketService/MarketService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IMarket" />
		<endpoint address="net.tcp://app02/FundService/FundService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IFund" />
		<endpoint address="net.tcp://app02/BookService/BookService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IBook" />
		<endpoint address="net.tcp://app02/StrategyService/StrategyService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IStrategy" />
		<endpoint address="net.tcp://app02/TradeTypeService/TradeTypeService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.ITradeType" />
		<endpoint address="net.tcp://app02/InstrumentMarketService/InstrumentMarketService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IInstrumentMarket" />
		<endpoint address="net.tcp://app02/PositionService/PositionService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IPosition" />
		<endpoint address="net.tcp://app02/ErrorReportingService/ErrorReportingService.svc" binding="netTcpBinding" contract="Odey.Framework.Infrastructure.ErrorReporting.IErrorReport" />
		<endpoint address="net.tcp://app02/EmailService/EmailService.svc" binding="netTcpBinding" contract="Odey.Framework.Infrastructure.Contracts.IEmail" />		
	  </client>
	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
