<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="Keeley" connectionString="Data Source=SQL02;Initial Catalog=Keeley;Integrated Security=True;MultipleActiveResultSets=True"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.serviceModel>

    <client>
      <endpoint address="net.tcp://app02/RegionService/RegionService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IRegion"  xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/CountryService/CountryService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.ICountry" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/LegalEntityService/LegalEntityService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.ILegalEntity" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/IssuerService/IssuerService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IIssuer" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/InstrumentClassService/InstrumentClassService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IInstrumentClass" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/InstrumentService/InstrumentService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IInstrument" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/CurrencyService/CurrencyService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.ICurrency" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/MarketService/MarketService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IMarket" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/FundService/FundService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IFund" bindingConfiguration="default" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/BookService/BookService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IBook" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/StrategyService/StrategyService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IStrategy" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/TradeTypeService/TradeTypeService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.ITradeType" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/InstrumentMarketService/InstrumentMarketService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IInstrumentMarket" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/PositionService/PositionService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IPosition" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/ErrorReportingService/ErrorReportingService.svc" binding="netTcpBinding" contract="Odey.Framework.Infrastructure.ErrorReporting.IErrorReport" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/EmailService/EmailService.svc" binding="netTcpBinding" contract="Odey.Framework.Infrastructure.Contracts.IEmail" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/BeauchampPortfolioService/PortfolioService.svc" binding="netTcpBinding" contract="Odey.Beauchamp.Contracts.IPortfolio" bindingConfiguration="default" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/EzeReconciliationService/EzeReconciliationService.svc" binding="netTcpBinding" bindingConfiguration="default" contract="Odey.ReconciliationServices.Contracts.IEzeReconciliation" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/ValuationReconciliationService/ValuationReconciliationService.svc" binding="netTcpBinding" bindingConfiguration="default" contract="Odey.ReconciliationServices.Contracts.IValuationReconciliation" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/ClientPortfolioReconciliationService/ClientPortfolioReconciliationService.svc" binding="netTcpBinding" bindingConfiguration="default" contract="Odey.ReconciliationServices.Contracts.IClientPortfolioReconciliation" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/FMPortfolioCollectionService/FMPortfolioCollectionService.svc" binding="netTcpBinding" bindingConfiguration="default" contract="Odey.ReconciliationServices.Contracts.IFMPortfolioCollection" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://reporting01/PortfolioCacheService/PortfolioCacheService.svc" binding="netTcpBinding" contract="Odey.PortfolioCache.Contracts.IPortfolioCache" bindingConfiguration="default" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
    </client>

  </system.serviceModel>












  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://app02/RegionService/RegionService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IRegion" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)" />
      <endpoint address="net.tcp://app02/CountryService/CountryService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.ICountry" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)" />
      <endpoint address="net.tcp://app02/LegalEntityService/LegalEntityService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.ILegalEntity" bindingConfiguration="default" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)" />
      <endpoint address="net.tcp://app02/IssuerService/IssuerService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IIssuer" bindingConfiguration="default"  xdt:Transform="SetAttributes" xdt:Locator="Match(contract)" />
      <endpoint address="net.tcp://app02/InstrumentClassService/InstrumentClassService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IInstrumentClass" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)" />
      <endpoint address="net.tcp://app02/InstrumentService/InstrumentService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IInstrument" bindingConfiguration="default" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)" />
      <endpoint address="net.tcp://app02/CurrencyService/CurrencyService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.ICurrency" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/MarketService/MarketService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IMarket" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/InstrumentMarketService/InstrumentMarketService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IInstrumentMarket" bindingConfiguration="default" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/FundService/FundService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IFund" bindingConfiguration="default" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/BookService/BookService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IBook" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/StrategyService/StrategyService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IStrategy" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/TradeTypeService/TradeTypeService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.ITradeType" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)" />
      <endpoint address="net.tcp://app02/PositionCacheService/PositionCacheService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IPositionCache" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/CounterpartyService/CounterpartyService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.ICounterparty" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)" />
      <endpoint address="net.tcp://app02/CustodianService/CustodianService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.ICustodian" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/AccountService/AccountService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IAccount" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/PositionService/PositionService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IPosition" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/BuySellReasonService/BuySellReasonService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IBuySellReason" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)" />
      <endpoint address="net.tcp://app02/ApplicationUserService/ApplicationUserService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IApplicationUser" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)" />
      <endpoint address="net.tcp://app02/InstrumentEventTypeService/InstrumentEventTypeService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IInstrumentEventType" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)" />
      <endpoint address="net.tcp://app02/ChargeTypeService/ChargeTypeService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IChargeType" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/EntityRankingSchemeService/EntityRankingSchemeService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IEntityRankingScheme" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)" />
      <endpoint address="net.tcp://app02/EntityRankingSchemeItemService/EntityRankingSchemeItemService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IEntityRankingSchemeItem" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)" />
      <endpoint address="net.tcp://app02/IndustryService/IndustryService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IIndustry" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)" />
      <endpoint address="net.tcp://app02/FMKeeleyStaticBridgeService/FMKeeleyStaticBridgeService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IFMKeeleyStaticBridge" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)" />
      <endpoint address="net.tcp://app02/BeauchampStaticDataService/StaticDataService.svc" binding="netTcpBinding" contract="Odey.Beauchamp.Contracts.IStaticData" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/BloombergStaticDataService/StaticDataService.svc" binding="netTcpBinding" contract="Odey.Bloomberg.Contracts.IStaticData" bindingConfiguration="default" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
      <endpoint address="net.tcp://app02/StaticDataUpdaterService/StaticDataUpdaterService.svc" binding="netTcpBinding" bindingConfiguration="default" contract="Odey.StaticServices.Contracts.IStaticDataUpdater" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)" />
    </client>
  </system.serviceModel>

  <connectionStrings>
    <add name="KeeleyModel" connectionString="metadata=res://*/KeeleyModel.csdl|res://*/KeeleyModel.ssdl|res://*/KeeleyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL02;Initial Catalog=Keeley;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>


</configuration>