<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <connectionStrings>
		<add name="Keeley" connectionString="Data Source=SQL02-UAT;Initial Catalog=Keeley;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add name="KeeleyModel"
		  connectionString="metadata=res://*/KeeleyModel.csdl|res://*/KeeleyModel.ssdl|res://*/KeeleyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL02-UAT;Initial Catalog=Keeley;Integrated Security=True;MultipleActiveResultSets=True&quot;"
		  providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="default" maxReceivedMessageSize="50000000" receiveTimeout="00:20:00" sendTimeout="00:20:00">
					<readerQuotas maxStringContentLength="50000000" maxArrayLength="50000000"/>

				</binding>
			</netTcpBinding>


      <wsHttpBinding>
        <binding name="default" maxReceivedMessageSize="500000000" openTimeout="00:10" receiveTimeout="00:10" sendTimeout="00:10" closeTimeout="00:10">
          <readerQuotas maxStringContentLength="500000000" maxArrayLength="500000000"/>
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </wsHttpBinding>

      <basicHttpBinding>
        <binding name="default" maxReceivedMessageSize="500000000" openTimeout="00:10" receiveTimeout="00:10" sendTimeout="00:10" closeTimeout="00:10">
          <readerQuotas maxStringContentLength="500000000" maxArrayLength="500000000"/>
        </binding>
      </basicHttpBinding>      
	</bindings>
   <client>
     <endpoint address="net.tcp://app02/SSRSReportRunnerService/SSRSReportRunnerService.svc" binding="netTcpBinding"
     	contract="Odey.ExtractServices.Contracts.ISSRSReportRunner" bindingConfiguration="default">
       <identity>
         <userPrincipalName value="OAM\SVC_FTP"/>
       </identity>
     </endpoint>

     <endpoint address="net.tcp://app02/FMKeeleyReconciliationService/FMKeeleyReconciliationService.svc" binding="netTcpBinding" bindingConfiguration="default"
     	contract="Odey.ReconciliationServices.Contracts.IFMKeeleyReconciliation"/>
     <endpoint address="net.tcp://app02-uat/RegionService/RegionService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IRegion"/>
		<endpoint address="net.tcp://app02-uat/CountryService/CountryService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.ICountry"/>
		<endpoint address="net.tcp://app02-uat/LegalEntityService/LegalEntityService.svc" binding="netTcpBinding"
     	contract="Odey.StaticServices.Contracts.ILegalEntity"/>
		<endpoint address="net.tcp://app02-uat/IssuerService/IssuerService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IIssuer"/>
		<endpoint address="net.tcp://app02-uat/InstrumentClassService/InstrumentClassService.svc" binding="netTcpBinding"
     	contract="Odey.StaticServices.Contracts.IInstrumentClass"/>
		<endpoint address="net.tcp://app02-uat/InstrumentService/InstrumentService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IInstrument"/>
		<endpoint address="net.tcp://app02-uat/CurrencyService/CurrencyService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.ICurrency"/>
		<endpoint address="net.tcp://app02-uat/MarketService/MarketService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IMarket"/>
		<endpoint address="net.tcp://app02-uat/FundService/FundService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IFund"
     	bindingConfiguration="default"/>
		<endpoint address="net.tcp://app02-uat/BookService/BookService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IBook"/>
		<endpoint address="net.tcp://app02-uat/StrategyService/StrategyService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IStrategy"/>
		<endpoint address="net.tcp://app02-uat/TradeTypeService/TradeTypeService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.ITradeType"/>
		<endpoint address="net.tcp://app02-uat/InstrumentMarketService/InstrumentMarketService.svc" binding="netTcpBinding"
     	contract="Odey.StaticServices.Contracts.IInstrumentMarket"/>
		<endpoint address="net.tcp://app02-uat/PositionService/PositionService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IPosition"/>
    <endpoint address="net.tcp://cache01/QueryService/QueryService.svc" binding="netTcpBinding" contract="Odey.Query.Contracts.IQueryService"
     	bindingConfiguration="default"/>
    <endpoint address="net.tcp://app02-uat/ErrorReportingService/ErrorReportingService.svc" binding="netTcpBinding"
     	contract="Odey.Framework.Infrastructure.ErrorReporting.IErrorReport"/>
		<endpoint address="net.tcp://app02-uat/EmailService/EmailService.svc" binding="netTcpBinding" contract="Odey.Framework.Infrastructure.Contracts.IEmail"/>
		<endpoint address="net.tcp://app02/BeauchampPortfolioService/PortfolioService.svc" binding="netTcpBinding" contract="Odey.Beauchamp.Contracts.IPortfolio"
     	bindingConfiguration="default"/>
     <endpoint address="net.tcp://app02/BeauchampPortfolioServiceNew/PortfolioService.svc" binding="netTcpBinding"
     	contract="Odey.Beauchamp.Contracts.IPortfolioNew" bindingConfiguration="default"/>
		<endpoint address="net.tcp://app02-uat/EzeReconciliationService/EzeReconciliationService.svc" binding="netTcpBinding" bindingConfiguration="default"
     	contract="Odey.ReconciliationServices.Contracts.IEzeReconciliation"/>
		<endpoint address="net.tcp://app02-uat/ValuationReconciliationService/ValuationReconciliationService.svc" binding="netTcpBinding"
     	bindingConfiguration="default" contract="Odey.ReconciliationServices.Contracts.IValuationReconciliation"/>
    <endpoint address="net.tcp://app02-uat/ClientPortfolioReconciliationService/ClientPortfolioReconciliationService.svc" binding="netTcpBinding"
     	bindingConfiguration="default" contract="Odey.ReconciliationServices.Contracts.IClientPortfolioReconciliation"/>
    <endpoint address="net.tcp://app02/FMPortfolioCollectionService/FMPortfolioCollectionService.svc" binding="netTcpBinding" bindingConfiguration="default"
     	contract="Odey.ReconciliationServices.Contracts.IFMPortfolioCollection"/>    
    <endpoint address="net.tcp://app02/AttributionReconciliationService/AttributionReconciliationService.svc" binding="netTcpBinding"
     	contract="Odey.ReconciliationServices.Contracts.IAttributionReconciliation" bindingConfiguration="default"/>
    <endpoint address="http://reporting01/InternalWeb/Performance/Soap" binding="basicHttpBinding" contract="Odey.Reporting.Contracts.IPerformance"
     	bindingConfiguration="default"/>
    <endpoint address="net.tcp://reporting01/PortfolioCacheService/PortfolioCacheService.svc" binding="netTcpBinding"
     	contract="Odey.PortfolioCache.Contracts.IPortfolioCache" bindingConfiguration="default"/>
  </client>
		
	</system.serviceModel>
	<appSettings>
		<add key="NavTolerance" value="0.01"/>
		<add key="KeeleyStoredProcedureName" value="Portfolio_GetForEzeNavRec"/>
    <add key="FMStoredProcedureName" value="FMPortfolio_GetForEzeNavRec"/>
    <add key="KeeleyClientPortfolioStoredProcedureName" value="ClientPortfolio_GetForAdministratorRec"/>
		<add key="EZEFileName" value="C:\temp\Portfolio_NAV.csv"/>
    <add key="UseNewFMInstance" value="True"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>


  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs\log.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
