<configuration> 
  <system.serviceModel>
    <services>
      <service name="Odey.ReconciliationServices.ClientPortfolioReconciliationService.ClientPortfolioReconciliationService">
        <endpoint binding="netTcpBinding" bindingConfiguration="default" contract="Odey.ReconciliationServices.Contracts.IClientPortfolioReconciliation"/>
      </service>
    </services>
  </system.serviceModel>
  <appSettings>
    <add key="KeeleyClientPortfolioStoredProcedureName" value="ClientPortfolio_GetForAdministratorRec"/>
  </appSettings>
 </configuration>