<configuration>
	<system.serviceModel>
		<services>
			<service name="Odey.ReconciliationServices.FMKeeleyReconciliationService.FMKeeleyReconciliationService">
				<endpoint binding="netTcpBinding" contract="Odey.ReconciliationServices.Contracts.IFMKeeleyReconciliation" />
			</service>
		</services>
	</system.serviceModel>
	<connectionStrings>
		<!--add name="FM" connectionString="Data Source=FM;User Id=KEELEY;Password=KEELEYODEY;"-->
		<add name="Keeley" connectionString="Data Source=SQL02;Initial Catalog=Keeley;Integrated Security=True;MultipleActiveResultSets=True"/>
	</connectionStrings>
</configuration>

