<configuration>
  <system.serviceModel>
    <services>
      <service name="Odey.ReconciliationServices.FMPortfolioCollectionService.FMPortfolioCollectionService">
        <endpoint binding="netTcpBinding" bindingConfiguration="default" contract="Odey.ReconciliationServices.Contracts.IFMPortfolioCollection"/>
      </service>
    </services>
  </system.serviceModel>
  <!--
		For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.5" />
			</system.Web>
	-->
  <system.web>
    <compilation targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>
